body{
    font-family: 'alice',cursive;
    background: rgb(193, 138, 255);
}

.header_div{
    background: aliceblue;
    color:#8b8bff;
}

.header_div p{
    font-family:'alice';
    color:grey;
    letter-spacing:2px;
    font-size:12px;
    font-weight: bold;
}

.main_div button{
    font-family: 'alice';
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer{
    position:fixed;
    color:gray;
    bottom:0;
    width:100%;
    font-size:18px;
    background-color:aliceblue;
    line-height:3;
    text-align:center;
    text-shadow:5px 5px 5px rgb(151,149,149);
}